.table {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    align-items: center;
    justify-items: center;
}

.cell {

}

.row1 {
    width: 80%;
}

.datarow {
    background-color: red;
}

.icon {
    width: 1.5em;
    margin-right: 0.5em;
}

.benefits {
  height: 100%;
  min-height: 100vh;
  /* background: linear-gradient(#FFFFFF, #61D1DA); */
}

.blurb {
    padding: 2em;
}