.mission {
    color: white;
    text-align: center;
    font-size: 2em;
    height: 20vh;
    background: #61D1DA;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
}